
                        <div class="card" style="width: 18rem;">
                            <button type="button" (click)="eliminarTarjeta()" >X</button>

                            <img src="{{libroHijo.photo}}" />
                            
                            <div class="card-body">
                                <div class="contenido" id="tipo">
                                    _____________{{libroHijo.type}}_____________
                                </div>
                            
                                <div class="cont" id="title">
                                    {{libroHijo.title}}
                                </div>

                                <div class="cont" id="autor">
                                    {{libroHijo.author}}
                                </div>

                                <div class="cont">
                                    {{libroHijo.id_book | reflibro}}
                                </div>

                                <div class="cont">
                                    User's ID{{libroHijo.id_user}}
                                </div>

                                <div class="cont"  id="price" >
                                    Price: {{libroHijo.price}} €
                                </div>   
                                
                                <button Class="btn btn-secondary" >Comprar</button>
                                                        <!-- <button [ngClass]="{'btn-dark': i % 2 === 0, 'btn-secondary': i % 2 !== 0}" class="btn"> -->

                                <!-- <a href="#" [ngClass]="{'btn-dark': book.isEven, 'btn-secondary': !book.isEven}" class="btn"> -->

                                <!-- FUNDAMENTACIÓN EJEMPLO -->
                                <!-- let i = index: This captures the index of the current item in the loop, which allows you to determine if the index is even or odd.

                                [ngClass]: This directive is used to conditionally apply classes to the button:
                                
                                If the index i is even (i % 2 === 0), the button will have the class btn-primary.
                                If the index i is odd (i % 2 !== 0), the button will have the class btn-secondary. -->

                            </div>
                    
                
                    </div>
             