

<div class="header">
    <h1 id="title">My Books</h1>
    <div class="menu">
        <a routerLink="home" routerLinkActive="active-link">Home</a>
        <a routerLink="register" routerLinkActive="active-link">Register</a>
        <a routerLink="profile" routerLinkActive="active-link">Profile</a>
        <a routerLink="books" routerLinkActive="active-link">Books</a>
        <a routerLink="add-book" routerLinkActive="active-link">AddBook</a>
        <a routerLink="update-book" routerLinkActive="active-link">UpdateBook</a>
        <a routerLink="login" routerLinkActive="active-link">Login</a>
    </div>
</div>
